*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 150px;
}
.wixtonLogo{
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

.headingText{
    padding-top: 20px;
    font-size: 100px;
    font-family: 'Noto Serif Display', serif;
    font-weight: 300;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #2E2C2C;
    color: white;
    text-align: right;
    font-family: 'Poiret One', cursive;

}
nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 19px 20px;
    font-size: 30px;
}

main{
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/candles.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroText{
    color: white;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 30%;
    font-family: 'Noto Serif Display', serif;
    font-size: 20px;
}
.heroButton{
    width: 100px;
    height: 50px;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    background-color: #D6C1AA;
    border-radius: 30px;
    border: 1px solid #2E2C2C;
}
.product{
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 20px;
    background-color: #d6cbc0;
    color: #2E2C2C;
    font-family: 'Noto Serif Display', serif;

}
.component1, .component2, .component3{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 5px;

}
section{
    background-color: #d6cbc0;
}
section div{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px 115px;
}
section p{
    color: #2E2C2C;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
}